@font-face {
  font-family: 'RadZoneHeader';
  src: url('font/RockSalt-Regular.ttf');
}

@font-face {
  font-family: 'RadZoneTitle';
  src: url('font/edo.ttf');
}

@font-face {
  font-family: 'RadZoneBody';
  src: url('font/IntroHeadR-Base.otf');
}

@font-face {
  font-family: 'RadZoneAlt';
  src: url('font/Nunito-Regular.otf');
}

body {
  background-color: #FFFDAE;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: 'RadZoneBody', arial, sans-serif;
  font-size: 18px;
  color: #000000;
}

h1 {
  font-family: "RadZoneHeader";
  font-weight: bold;
  font-size: 50px;
  color: #ED008c;
}

h2 {
  font-family: "RadZoneTitle";
  font-weight: normal;
  text-transform: none;
  color: #ED008c;
}

.starter-template {
  padding: 60px 0px 75px 0px;
  text-align: center;
}

.topbar {
  border: 0px;
  padding-left: 25px;
  padding-right: 25px;
  background: -webkit-linear-gradient(top, rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 0));
  /* Standard syntax (must be last) */
}

.bottombar {
  font-family: 'RadZoneBody', arial, sans-serif;
  font-size: small;
  text-align: center;
  padding-top: 25px;
  background: -webkit-linear-gradient(top, rgba(20, 237, 216, 0), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(20, 237, 216, 0), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(20, 237, 216, 0), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(20, 237, 216, 0), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1), rgba(20, 237, 216, 1));
  /* Standard syntax (must be last) */
}

.header_link {
  font-family: 'RadZoneTitle', arial, sans-serif;
  font-size: medium;
}

div.tv-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 75%;
  height: 0;
}

div.tv-wrapper iframe {
  box-sizing: border-box;
  background: url('img/tv.jpg') center center no-repeat;
  background-size: contain;
  padding: 14% 27% 14% 8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
}

div.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.parallax_layer-base {
  transform: translateZ(0);
}

div.parallax_layer-back {
  background-image: url('img/background.png');
  background-repeat: repeat-y;
  background-size: cover;
  transform: translateZ(-2px) scale(3);
}

a:link,
a:visited {
  color: rgb(229, 116, 190);
}

a:active,
a:hover {
  color: #FDB1E4;
  text-decoration: underline;
}

hr.modified {
  border: 0;
  height: 1px;
  background: black;
  background-image: -o-linear-gradient(left, #fffdae, #14edd8, #fffdae);
  background-image: -webkit-linear-gradient(left, #fffdae, #14edd8, #fffdae);
  background-image: -moz-linear-gradient(left, #fffdae, #14edd8, #fffdae);
  background-image: -ms-linear-gradient(left, #fffdae, #14edd8, #fffdae);
}

hr.modified_two {
  border: 0;
  height: 1px;
  background: black;
  background-image: -webkit-linear-gradient(left, #FFF7AA, #999, #FFF7AA);
  background-image: -moz-linear-gradient(left, #FFF7AA, #999, #FFF7AA);
  background-image: -ms-linear-gradient(left, #FFF7AA, #999, #FFF7AA);
  background-image: -o-linear-gradient(left, #FFF7AA, #999, #FFF7AA);
}
