@font-face {
  font-family: 'RadZoneHeader';
  src: url('font/RockSalt-Regular.ttf');
}

@font-face {
  font-family: 'RadZoneTitle';
  src: url('font/edo.ttf');
}

@font-face {
  font-family: 'RadZoneBody';
  src: url('font/IntroHeadR-Base.otf');
}

@font-face {
  font-family: 'RadZoneAlt';
  src: url('font/Nunito-Regular.ttf');
}

html {
  background: #FFFDAE;
  background-attachment: fixed;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  font-size: 0;
}

a {
  color: magenta;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  color: magenta;
  border-bottom: inherit solid;
}

.logoLink {
  border-bottom: 0px dotted;
}

body {
  background-color: #FFFDAE;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

p {
  font-family: 'RadZoneBody', arial, sans-serif;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
}

p:last-child {
  margin-bottom: 0;
  z-index: 100;
}

.parallax {
  position: fixed;
}

hr {
  border: 0;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#000), to(rgba(255, 255, 255, 0.0)));
}

[class*="left-"] {
  display: none;
  width: 0;
}
[class*="top-"] {
  display: block;
}
[class*="main-"] {
  width: 95%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .left-box {
      display: block;
      width: 33%;
      border-right: none;
    }
    .top-mainheader {
      display: none;
    }
    .main-box {
      width: 62.5%;
    }
}

/**
 * Position our elements
 *
 * Firstly we set our element position using `top`, `right`, `bottom`, `left`, then set your parallax movement using `margin` and `rem`.
 *
 * In this demo our 'base factor' is 50 (see JavaScript). Our 'factor' calculation never exceeds this number (when the viewport is fully scrolled), which means our `rem` calculations are based on this number.
 *
 * Example:
 *
 * If I set my `top` to `200px` and want this element to shift up by `400px`, our `rem` value is 400/10, or `-40em` (using negative margins to shift upwards).
 */

/*********************** 
* Left box  
***********************/

.left-box {
  margin-right: 2.5%;
  left: 0;
  top: 0;
  width: 33%;
  max-width: 350px;
  height: 100%;
  z-index: 10;
  position: fixed;
}

.top-mainheader {
  padding-top: 35px;
  width: 100%;
  border-bottom: 5px dotted rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
  text-align: center;
}

.logo {
  padding-top: 2.5%;
  width: 100%;
}

.leftlogo {
  border-right: 5px dotted rgba(0, 0, 0, 0.5);
}

.rightlogo {
  padding-top: 2.5%;
  width: 65%;
}

.textbox {
  /*background-color: rgba(0, 0, 0, 0.15);*/
  text-align: center;
  vertical-align: top;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  width: 100%;
  position: relative;
}

.bottombox {
  text-align: center;
  position: fixed;
  width: 33%;
  max-width: 350px;
  bottom: 0;
}

.headerbox {
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.iconsbox {
  background-color: rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 2em;
  padding: 5px;
}

.iconLink {
  border-bottom: none;
}

.twitterIcon {
  color: #00aced;
}

.twitterIcon:hover {
  color: #11bdfe;
}

.mailIcon {
  color: #fa5c5c;
}

.mailIcon:hover {
  color: #ff8080;
}

.githubIcon {
  color: #000;
}

.githubIcon:hover {
  color: #888;
}

/***********************
* Main area
***********************/

.main-box {
  margin-top: 2.5%;
  right: 2.5%;
  z-index: 10;
  position: absolute;
}

.mainEntry {
  margin: -2% 0 0 0;
  width: 100%;
  height: 100%;
}

.mainEntryContent {
  width: 100%;
  position: absolute;
  background-image: url('https://radz.one/img/factory/backing.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.mainEntryContent>h1 {
  font-family: "RadZoneTitle";
  color: #ED008c;
  width: 100%;
  height: 33%;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
  text-align: center;
  margin: 0 0 0 0;
  position: relative;
  align-content: center;
  font-size: calc(12px + 4vw);
}

.thumbnails {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 30% 30% 30%;
  width: inline;
  white-space: nowrap;
}

.thumbnail {
  opacity: 1.0;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px 3px;
}

.description {
  text-align: justify;
  vertical-align: top;
  left: 0; 
  padding-left: 15%;
  padding-right: 15%;
  min-width: 200px;
}

.gameDesc {
  margin-top: 0;
  margin-bottom: 15px;
}

.description>p {
  color: #FFF;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
}

.description>p>a {
  color: rgb(253, 177, 228);
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
}

.description>p>a:hover {
  color: magenta;
}


.descAvailability {
  background-color: rgba(0,0,0,0.25);
  text-align: center;
}

.aspect-ratio-box {
  background: rgba(0, 0, 0, 0.0);
  position: relative;
  width: 100%;
}

.aspect-ratio-box::before {
  content: "";
  display: block;
  padding-top: 40%;
}

.aspect-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/***********************
* Shapes 
************************/

.shape0 {
  width: 30%;
  top: 140px;
  margin-top: -2rem;
  left: -4%;
  z-index: 0;
}

.shape1 {
  width: 20%;
  top: 380px;
  margin-top: -8rem;
  right: -4%;
  z-index: 0;
}

.shape2 {
  width: 40%;
  top: 800px;
  margin-top: -4rem;
  left: 35%;
  z-index: 0;
}

.shape3 {
  width: 20%;
  top: 1250px;
  margin-top: -7rem;
  right: -8%;
  z-index: 0;
}

.shape4 {
  width: 20%;
  top: 920px;
  margin-top: -2rem;
  left: -4%;
  z-index: 0;
}
