@font-face {
  font-family: 'RadZoneHeader';
  src: url('font/RockSalt-Regular.ttf');
}

@font-face {
  font-family: 'RadZoneTitle';
  src: url('font/edo.ttf');
}

@font-face {
  font-family: 'RadZoneBody';
  src: url('font/IntroHeadR-Base.otf');
}

@font-face {
  font-family: 'RadZoneAlt';
  src: url('font/Nunito-Regular.otf');
}

body {
  background-color: #FFFDAE;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: 'RadZoneBody', arial, sans-serif;
  font-size: 18px;
  color: #000000;
}

html {
  height: 1500px;
  font-size: 0;
}

body {
  font-size: 16px;
}

.parallax {
  position: fixed;
}

/**
 * Position our elements
 *
 * Firstly we set our element position using `top`, `right`, `bottom`, `left`, then set your parallax movement using `margin` and `rem`.
 *
 * In this demo our 'base factor' is 50 (see JavaScript). Our 'factor' calculation never exceeds this number (when the viewport is fully scrolled), which means our `rem` calculations are based on this number.
 *
 * Example:
 *
 * If I set my `top` to `200px` and want this element to shift up by `400px`, our `rem` value is 400/10, or `-40em` (using negative margins to shift upwards).
 */

h1 {
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  font-family: "RadZoneHeader";
  font-weight: bold;
  top: 75px;
  margin-top: -3rem;
  color: #ED008c;
}

.textbox {
  top: -1400px;
  /* Positive margin, so it appears from above */
  margin-top: 29rem;
  /* Center and pad */
  left: 50%;
  margin-left: -27%;
  padding: 2%;
  width: 50%;
}

.shape0 {
  top: 240px;
  margin-top: -20rem;
  left: -8%;
}

.shape1 {
  top: 380px;
  margin-top: -38rem;
  left: 24%;
  z-index: 1;
}

.shape2 {
  top: 200px;
  margin-top: -20rem;
  left: 40%;
  z-index: 10;
}

.shape3 {
  top: 480px;
  margin-top: -20rem;
  left: -4%;
  z-index: 1;
}

.shape4 {
  top: 720px;
  margin-top: -20rem;
  left: -4%;
  z-index: 1;
}

html {
  background: #FFFDAE;
  background-attachment: fixed;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
}

a {
  color: magenta;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  color: magenta;
  border-bottom: 1px solid;
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

img {
  width: 20%;
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
}